body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.game_container{
    display: flex;
}

#container{
    width: 75%;
}
.edit_form{
    background-color: #bdb9b9;
    width: 25%;
    height: 50%;
    text-align: center;
    margin-top: 10%;
    border-radius: 8px;
    margin-right: 1%;
}

.input_text{
    width: 90%;
    margin-top: 70%;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 30%;
}

::placeholder{
    color: black;
}

.menu{
    width: 45%;
    height: 50px;
    background-color: #bdb9b9;
    margin: 0 auto;
    border-radius: 6px;
}

.new_block_but{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 100%;
    width: 33%;
    background-color: #6495ed;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.new_block_but:hover{
    background-color: grey;
    color: white;
}