body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
}

.game_container{
    display: flex;
}

#container{
    width: 75%;
}
.edit_form{
    background-color: #bdb9b9;
    width: 25%;
    height: 50%;
    text-align: center;
    margin-top: 10%;
    border-radius: 8px;
    margin-right: 1%;
}

.input_text{
    width: 90%;
    margin-top: 60%;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 20%;
}

::placeholder{
    color: black;
}

.menu{
    width: 35%;
    height: 50px;
    background-color: #bdb9b9;
    margin: 0 auto;
    border-radius: 6px;
}